<a href="https://colab.research.google.com/github/Engyogesh/miniproject/blob/main/miniproject_2_corona.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from tabulate import tabulate
import traceback
import numpy as np
import matplotlib.pyplot as plt
from requests import get
import requests
import os

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive/')

Mounted at /content/gdrive/

In [ ]:
import pandas as pd
Data = pd.read_excel(r'/content/gdrive/My Drive/mini project/corona deaths.xlsx')

In [ ]:
display(pd.DataFrame(Data))
df = pd.DataFrame(Data)

           State Country  Deaths  Date
0     California     USA   34000  2020
1          Texas     USA   29000  2020
2        Florida     USA   27000  2021
3       New York     USA   45000  2021
4       Illinois     USA   23000  2020
5        Georgia     USA   20000  2021
6           Ohio     USA   18000  2021
7   Pennsylvania     USA   21000  2020
8       Gunnison     USA    1218  2020
9       Hinsdale     USA   45144  2020
10      Huerfano     USA    8674  2021
11       Jackson     USA     942  2021
12     Jefferson     USA   62123  2020
13         Kiowa     USA   51467  2021
14    Kit Carson     USA   19400  2021
15      La Plata     USA     650  2020
16          Lake     USA     132  2020
17       Larimer     USA      42  2020
18    Las Animas     USA    8234  2021
19       Lincoln     USA      78  2021
20         Logan     USA      47  2020
21          Mesa     USA      63  2021
22       Mineral     USA      77  2021
23        Moffat     USA      95  2020
24     Montezuma     USA      34  2020
25      Montrose     USA      75  2020
26        Morgan     USA      46  2021
27         Otero     USA     251  2021
28         Ouray     USA     184  2020
29          Park     USA     185  2021
30      Phillips     USA   29000  2021
31        Pitkin     USA   27000  2020
32       Prowers     USA   45000  2020
33        Pueblo     USA   23000  2020
34    Rio Blanco     USA   20000  2021
35    Rio Grande     USA   18000  2020

1)**Top 10 states having highest total death in the year 2020.**

In [ ]:
df_2020 = df[df['Date'] == 2020]

state_death_totals = df_2020.groupby('State')['Deaths'].sum().reset_index()

top_states = state_death_totals.sort_values(by='Deaths', ascending=False).head(10)

top_states.reset_index(drop=True, inplace=True)

print(top_states)

          State  Deaths
0     Jefferson   62123
1      Hinsdale   45144
2       Prowers   45000
3    California   34000
4         Texas   29000
5        Pitkin   27000
6      Illinois   23000
7        Pueblo   23000
8  Pennsylvania   21000
9    Rio Grande   18000

2)**Top 10 states having highest total death in the year 2021.**

In [ ]:
df_2021 = df[df['Date'] == 2021]

state_death_totals = df_2021.groupby('State')['Deaths'].sum().reset_index()

top_states = state_death_totals.sort_values(by='Deaths', ascending=False).head(10)

top_states.reset_index(drop=True, inplace=True)

print(top_states)

        State  Deaths
0       Kiowa   51467
1    New York   45000
2    Phillips   29000
3     Florida   27000
4     Georgia   20000
5  Rio Blanco   20000
6  Kit Carson   19400
7        Ohio   18000
8    Huerfano    8674
9  Las Animas    8234

3)**Top 10 states having highest average death in the year 2020.**

In [ ]:
df_2020 = df[df['Date'] == 2020]

average_deaths_2020 = df_2020.groupby('State')['Deaths'].mean().reset_index()

top_average_states_2020 = average_deaths_2020.sort_values(by='Deaths', ascending=False).head(10)

top_average_states_2020.reset_index(drop=True, inplace=True)

print("Top 10 States with Highest Average Deaths in 2020:")
print(top_average_states_2020)

Top 10 States with Highest Average Deaths in 2020:
          State   Deaths
0     Jefferson  62123.0
1      Hinsdale  45144.0
2       Prowers  45000.0
3    California  34000.0
4         Texas  29000.0
5        Pitkin  27000.0
6      Illinois  23000.0
7        Pueblo  23000.0
8  Pennsylvania  21000.0
9    Rio Grande  18000.0

4)**Top 10 states having highest average death in the year 2021.**

In [ ]:
df_2021 = df[df['Date'] == 2021]

average_deaths_2021 = df_2021.groupby('State')['Deaths'].mean().reset_index()

top_average_states_2021 = average_deaths_2021.sort_values(by='Deaths', ascending=False).head(10)

top_average_states_2021.reset_index(drop=True, inplace=True)

print("\nTop 10 States with Highest Average Deaths in 2021:")
print(top_average_states_2021)

Top 10 States with Highest Average Deaths in 2021:
        State   Deaths
0       Kiowa  51467.0
1    New York  45000.0
2    Phillips  29000.0
3     Florida  27000.0
4     Georgia  20000.0
5  Rio Blanco  20000.0
6  Kit Carson  19400.0
7        Ohio  18000.0
8    Huerfano   8674.0
9  Las Animas   8234.0

5)**Top 10 county having highest total death in 2020 and 2021 year together.**

In [ ]:
combined_df = df[df['Date'].isin([2020, 2021])]

country_death_totals = combined_df.groupby('Country')['Deaths'].sum().reset_index()

top_country_deaths = country_death_totals.sort_values(by='Deaths', ascending=False).head(10)

top_country_deaths.reset_index(drop=True, inplace=True)

print("\nTop 10 Counties with Highest Total Deaths in 2020 and 2021 Combined:")
print(top_country_deaths)

Top 10 Counties with Highest Total Deaths in 2020 and 2021 Combined:
  Country  Deaths
0     USA  578161

6)**Find/print all pair of counties that have the same name but belong to two different states.**

In [ ]:
country_groups = df.groupby('Country')['State'].unique().reset_index()

multi_state_counties = country_groups[country_groups['State'].str.len() > 1]

country_pairs = []

for index, row in multi_state_counties.iterrows():
    states = row['State']
    for i in range(len(states)):
        for j in range(i + 1, len(states)):
            country_pairs.append((row['Country'], states[i], states[j]))

county_pairs_df = pd.DataFrame(country_pairs, columns=['Country', 'State1', 'State2'])

print("Pairs of Countries with the Same Name in Different States:")
print(county_pairs_df)

Pairs of Countries with the Same Name in Different States:
    Country      State1      State2
0       USA  California       Texas
1       USA  California     Florida
2       USA  California    New York
3       USA  California    Illinois
4       USA  California     Georgia
..      ...         ...         ...
625     USA     Prowers  Rio Blanco
626     USA     Prowers  Rio Grande
627     USA      Pueblo  Rio Blanco
628     USA      Pueblo  Rio Grande
629     USA  Rio Blanco  Rio Grande

[630 rows x 3 columns]

7)**Find/print all pair of counties that have the same name but belong to two different states.**
         **a) Top 10 least death states in 2020**
          **b)Top 10 least death states in 2021**

In [ ]:
def get_least_death_states(year, n):
    df_year = df[df['Date'] == year]

    state_death_totals = df_year.groupby('State')['Deaths'].sum().reset_index()

    least_death_states = state_death_totals.sort_values(by='Deaths').head(n)

    least_death_states['Rank'] = range(1, len(least_death_states) + 1)

    print(f"\nTop {n} Least Death States in {year}:")
    print(least_death_states[['State', 'Deaths', 'Rank']])

get_least_death_states(2020, 10)

get_least_death_states(2021, 10)

Top 10 Least Death States in 2020:
         State  Deaths  Rank
10   Montezuma      34     1
7      Larimer      42     2
8        Logan      47     3
11    Montrose      75     4
9       Moffat      95     5
6         Lake     132     6
12       Ouray     184     7
5     La Plata     650     8
1     Gunnison    1218     9
17  Rio Grande   18000    10

Top 10 Least Death States in 2021:
         State  Deaths  Rank
10      Morgan      46     1
8         Mesa      63     2
9      Mineral      77     3
7      Lincoln      78     4
14        Park     185     5
13       Otero     251     6
3      Jackson     942     7
6   Las Animas    8234     8
2     Huerfano    8674     9
12        Ohio   18000    10

8)**Print Top N states in the last three months of the year 2021. Also needed to be ranked. Also right this output as a file in folder /content/drive/MyDrive/data_preprocessing with header and no index.
          a)Top 10 least death states in last three months of the year 2021
           b)Top 10 most death states in last three months of the year 2021**

In [ ]:


df['Date'] = pd.to_datetime(df['Date'])

# Filter for the last three months of 2021 (October, November, December)
df_last_3_months = df[(df['Date'] >= '2021-10-01') & (df['Date'] <= '2021-12-31')]

# Group by state and sum the deaths
total_deaths = df_last_3_months.groupby('State')['Deaths'].sum().reset_index()

# Top 10 least deaths
least_death_states = total_deaths.sort_values(by='Deaths').head(10)
least_death_states['Rank'] = range(1, len(least_death_states) + 1)

# Top 10 most deaths
most_death_states = total_deaths.sort_values(by='Deaths', ascending=False).head(10)
most_death_states['Rank'] = range(1, len(most_death_states) + 1)

# Write results to files
output_folder = '/content/gdrive/My Drive/mini project/'
least_death_file = output_folder + 'top_10_least_death_states_last_3_months_2021.csv'
most_death_file = output_folder + 'top_10_most_death_states_last_3_months_2021.csv'

# Save to CSV with header and no index
least_death_states.to_csv(least_death_file, index=False, header=True)
most_death_states.to_csv(most_death_file, index=False, header=True)

# Output the file paths
print(f"Top 10 least death states saved to: {least_death_file}")
print(f"Top 10 most death states saved to: {most_death_file}")

Top 10 least death states saved to: /content/gdrive/My Drive/mini project/top_10_least_death_states_last_3_months_2021.csv
Top 10 most death states saved to: /content/gdrive/My Drive/mini project/top_10_most_death_states_last_3_months_2021.csv