<a href="https://colab.research.google.com/github/Engyogesh/miniproject/blob/main/miniproject_4_song_track_and_house_tracking_part_2_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from tabulate import tabulate
import traceback
import numpy as np
import matplotlib.pyplot as plt
from requests import get
import requests
import os

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive/')

Mounted at /content/gdrive/

In [ ]:
Data = pd.read_csv(r'/content/gdrive/My Drive/mini project/song.csv')
display(pd.DataFrame(Data))
df = pd.DataFrame(Data)

  song_title  rank  year
0    Mysong1     1  2012
1    Mysong1     1  2013
2    Mysong1     2  2014
3    Mysong1     3  2015
4    Mysong2     2  2012
5    Mysong2     2  2013
6    Mysong2     1  2014
7    Mysong2     2  2015
8    Mysong3     3  2012
9    Mysong3     3  2013

In [ ]:
1."Read "song.csv" into a dataframe and then produce the following output.
Write Output For Ranked Songs By its Highest Frequency. Whichever song won a particular rank (say 2) with maximum frequency takes that place. For example, Mysong1 won rank 1 for two different years (achieved maximum frequency for that particular rank) and so in output (see row 1 in Output expected below), it should appear as Mysong1 with rank 1 and count 2..
(Note. in the same year, now two songs have same rank.)"

ranked_songs = df.groupby(['song_title', 'rank']).size().reset_index(name='count')

# Step 3: For each rank, find the song with the highest frequency
ranked_songs = ranked_songs.sort_values(by=['rank', 'count'], ascending=[True, False])

# Step 4: For each rank, keep only the song with the highest frequency
top_ranked_songs = ranked_songs.groupby('rank').first().reset_index()

# Step 5: Output the dataframe
print(top_ranked_songs)

   rank song_title  count
0     1    Mysong1      2
1     2    Mysong2      3
2     3    Mysong3      2

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import KFold, cross_val_predict
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler, OrdinalEncoder
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

In [ ]:
data = pd.read_excel(r'/content/gdrive/My Drive/mini project/house_price_data.xlsx')
display(pd.DataFrame(data))

,Bedrooms,Bathrooms,Square Footage,Year Built,mainroad,guestroom,basement,hotwaterheating,airconditioning,Price
0,3,2.0,1500,2005,yes,no,yes,no,yes,350000
1,4,3.0,2000,2010,no,yes,no,yes,no,450000
2,2,1.0,1200,1995,yes,no,yes,no,yes,275000
3,5,4.0,3000,2020,yes,yes,no,no,no,650000
4,3,2.5,1800,2008,no,no,yes,yes,yes,400000
5,4,3.0,2200,2012,yes,yes,no,no,no,475000
6,2,1.0,1000,1985,yes,no,yes,yes,yes,250000
7,5,4.0,3200,2021,no,yes,no,no,no,700000
8,3,2.0,1600,2006,yes,no,yes,no,yes,375000
9,4,3.0,2300,2015,no,yes,no,yes,no,500000
10,3,2.0,1400,1998,yes,no,yes,no,yes,330000
11,4,3.0,2100,2003,no,yes,no,no,no,460000
12,2,1.5,1100,1990,yes,no,yes,yes,yes,290000
13,5,3.0,2900,2018,yes,yes,no,no,no,620000
14,3,2.0,1700,2007,no,no,yes,yes,yes,380000
15,4,3.0,2400,2011,yes,yes,no,no,no,480000
16,2,1.0,900,1980,yes,no,yes,no,yes,240000
17,5,4.0,3100,2019,no,yes,no,yes,no,680000
18,3,2.0,1550,2009,yes,no,yes,no,yes,365000
19,4,3.0,2500,2014,yes,yes,no,no,no,490000
20,3,2.5,1650,2011,no,no,yes,yes,yes,415000
21,4,3.0,2600,2013,yes,yes,no,no,no,510000
22,2,1.0,1300,1987,yes,no,yes,yes,yes,285000
23,5,4.0,3300,2022,no,yes,no,no,no,720000
24,3,2.0,1500,1992,yes,no,yes,no,yes,345000

In [ ]:
2."House Price Prediction task.
Data: Housing.csv from Kaggle
Steps:
Pre-processing: Convert non-numeric columns (mainroad, guestroom, basement, hotwaterheating, airconditioning) to numeric using one-hot encoding if the column values are not interrelated. If column values are related, need to use ordinal encoding.
Pre-processing: Use pd.get_dummies to convert the one-hot encoding from the previous step into single columns. [link | link]
Use two-fold cross-validation [sklearn]  and predict (use linear regression) the house price (column "price") using features (all columns except "price" are the features). You need output evaluation metrics: R1-squared error, Mean Squared Error (MSE), Root Mean Squared Error (RMSE). Mean Average Error (MAE). See doc for some short introduction for these evaluation metrics. In case the evaluation metrics (RMSE, MAE, MSE etc) have higher value (i.e., high error), then use standard scaler on the target column (column "price") to scale them. Additionally, you can also use standard scaler to scale the numeric features (i.e., those features other than target "price" and columns not converted to numeric using some encoding methods such as ordinal encoding and one-hot encoding). Some sample basic code notebook for Linear Regression (also use the internet for more) that starts with import of LinearRegression from sklearn.linear_model."    3. Create three equal-size buckets of House Price data. Bin the data into 3 quantiles (new column: quantile) of  'low', 'medium', 'high' based on "price" column in the House Price dataset.
Create three equal-size buckets of House Price data. Bin the data into 3 quantiles (new column: quantile) of  'low', 'medium', 'high' based on "price" column in the House Price dataset. "


df = pd.DataFrame(data)

df_encoded = pd.get_dummies(df, columns=['mainroad', 'guestroom', 'basement', 'hotwaterheating', 'airconditioning'], drop_first=True)

X = df_encoded.drop(columns=['Price'])
y = df_encoded['Price']

kf = KFold(n_splits=2)
model = LinearRegression()

y_pred = cross_val_predict(model, X, y, cv=kf)

r2 = r2_score(y, y_pred)
mse = mean_squared_error(y, y_pred)
rmse = np.sqrt(mse)
mae = mean_absolute_error(y, y_pred)

print(f'R-squared: {r2}')
print(f'Mean Squared Error (MSE): {mse}')
print(f'Root Mean Squared Error (RMSE): {rmse}')
print(f'Mean Absolute Error (MAE): {mae}')

scaler = StandardScaler()

y_scaled = scaler.fit_transform(y.values.reshape(-1, 1))

X_scaled = scaler.fit_transform(X)

y_pred_scaled = cross_val_predict(model, X_scaled, y_scaled.flatten(), cv=kf)

r2_scaled = r2_score(y_scaled, y_pred_scaled)
mse_scaled = mean_squared_error(y_scaled, y_pred_scaled)
rmse_scaled = np.sqrt(mse_scaled)
mae_scaled = mean_absolute_error(y_scaled, y_pred_scaled)

print(f'R-squared (scaled): {r2_scaled}')
print(f'Mean Squared Error (MSE) (scaled): {mse_scaled}')
print(f'Root Mean Squared Error (RMSE) (scaled): {rmse_scaled}')
print(f'Mean Absolute Error (MAE) (scaled): {mae_scaled}')

df['Quantile'] = pd.qcut(df['Price'], q=3, labels=['Low', 'Medium', 'High'])

print(df[['Price', 'Quantile']])

R-squared: 0.966984674952136
Mean Squared Error (MSE): 645946155.1744598
Root Mean Squared Error (RMSE): 25415.470784041358
Mean Absolute Error (MAE): 19568.208519156145
R-squared (scaled): 0.9669846749521375
Mean Squared Error (MSE) (scaled): 0.03301532504786249
Root Mean Squared Error (RMSE) (scaled): 0.18170119715583188
Mean Absolute Error (MAE) (scaled): 0.13989773962236657
     Price Quantile
0   350000      Low
1   450000   Medium
2   275000      Low
3   650000     High
4   400000   Medium
5   475000   Medium
6   250000      Low
7   700000     High
8   375000   Medium
9   500000     High
10  330000      Low
11  460000   Medium
12  290000      Low
13  620000     High
14  380000   Medium
15  480000   Medium
16  240000      Low
17  680000     High
18  365000      Low
19  490000     High
20  415000   Medium
21  510000     High
22  285000      Low
23  720000     High
24  345000      Low